body{
    margin: 0 auto;
}
.module{
    max-width: 100%;
    height: 100px;
    display: inline;
}
.firstname{

    display: inline-block;
    float: left;
    width: 400px;
    height: 110px;


}
.lastname{

    display: inline-block;
    float: left;
    width: 400px;
    height: 110px;

}
.output{
    display: inline-block;
    float: left;
    width: 400px;
    height: 110px;
}
